<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>$WikiTitle - {$Title}</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='$SkinDirUrl/oswny.css' type='text/css' />
  <!--HTMLHeader-->
</head>
<body>
<!--PageHeaderFmt-->
  <div id='wikilogo'><a href='{$ScriptUrl}' style='text-align:center;'><img src='$PageLogoUrl'
    alt='$WikiTitle' border='0' /></a></div>
<!--/PageHeaderFmt-->
  <table id='wikimid' width='925px' cellspacing='0' cellpadding='0'><tr>
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
        <!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar--></td>
<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
<!--PageActionFmt-->
        <div id='wikicmds'></div>
<!--PageTitleFmt-->
        <div id='wikititle'>
			<!-- Page title format here if desired -->
        </div>
<!--PageText-->
      </td>
<!--PageRightFmt-->
      <td id='wikiright' valign='top'>
        <!--wiki:{$Group}.SideBar2 {$SiteGroup}.SideBar2--></td>
<!--/PageRightFmt-->
    </tr></table>
<!--PageFooterFmt-->
  <div id='wikifoot'>
    <div class='footnav'></div>
    <div class='lastmod'>$[Page last modified on {$LastModified}]</div></div>
<!--HTMLFooter-->
</body>
</html>
