<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
  www.oswd.org: designer scenestar
  "something . corporate"
  p@ddy.ch  adapted to pmwiki template
-->
<head>
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
<title>$WikiTitle | $Group / $Title $Action</title>
<link rel='stylesheet' href='$SkinDirUrl/oswny3.css' type='text/css' />
<link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
<!--HeaderText-->
</head>
<body>
<div id="pageWrapper">
    <div id="top">
    </div>
    <div id="header">
		<div id='wikilogo'><a href='$ScriptUrl'><img src='$PageLogoUrl'
		alt='$WikiTitle' border='0' /></a></div>    <br />
    </div>
    <div id="contentWrappper">
    <!--PageHeaderFmt-->
      <!-- <div id='wikilogo'><a href='$ScriptUrl'><img src='$PageLogoUrl'
      alt='$WikiTitle' border='0' /></a></div> -->
      <!-- div id='wikihead' --> <br />

      <!-- /div>  -->
        <div class="bar">
         <!--wiki:Main.$AutorHeaderBar --><!--wiki:$Group.HeaderBar Main.HeaderBar-->
         <!-- <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
            <a href="#">Support</a>  -->
        </div>
        <div id="uleftColumn">
			<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
        </div>
        <div id="urightColumn">

         <!--PageTitleFmt-->

         <!--PageText-->
         <br style="clear: both" />
        </div>

        <br style="clear: both" />
   </div>
<br style="clear: both" />
</div>
<div id="footer">
	All Content © 2009 <a href="http://www.oswny.org">Optical Society of Western New York</a>
<!--PageFooterFmt-->
    <div class='footnav'></div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
<!--/PageFooterFmt-->

</div>
</body>
</html>